
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Poiret One';
    color: white;
    font-size: 21px;
    background-color: rgb(185, 0, 0);
}
nav{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
    z-index: 1;
}
nav a{
    text-decoration: none;
    color: white;
    font-family: Spirax;
    font-size: 40px;
    margin: 3%;
}
h1{
    position: relative;
    top: 18%;
    font-family: Spirax;
    font-size: 100px;
    color: rgb(185, 0, 0);
    text-align: center;
    margin: 0;
}
section{
    padding: 0;
    margin-bottom: 15px;
    /* border-bottom: rgb(190, 0, 0) solid 20px; */
}
p{
    display: inline-block;
    /* font-size: 20px; */
    text-align: center;
    padding: 20px;
    width: 50%;
    background-color:rgba(200, 0, 0, 0.5);
}
.p1{
    position: relative;
    top: 19%;
    left: 17%;
}
.p2{
    position: relative;
    top: 17%;
    left: 32%;
}
table{
    position: relative;
    padding: 15px 60px;
    top: 18%;
    left: 25%;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.5);
}
th{
    text-align: left;
    font-weight: normal;
}
td{
    text-align: right;
}
#hot{
  background-image: url("img/hot.jpg");
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh;
}
#juicy{
    background-image: url("img/juicy.jpg");
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
}
#cosy{
    background-image: url("img/cosy.jpg");
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
margin-bottom: 0px;
}